.views__homeViewLine {
  background-image : url(../../../medias/images/Yosemite_River-Large-compressor.gif);
  background-size: cover;
  position: relative;
  width           : 100vw;
  height          : 100vh;
  display         : flex;
  flex-direction  : column;
  background-color: rgba(0, 0, 0, 0.2);
  align-items     : center;
  justify-content : center;
  
  &:before {
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
  }
}
/* Title */
.views__homeTitle {
  font-family     : "FuturaBold", sans-serif;
  color           : #FFFFFF;
  align-items     : center;
  //show with transition
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-in-out;
  &.hidden {
    opacity: 0;
    transform: translateY(-100px);
  }
  h2 {
     /* Landscape phones and down */
    @media (max-width: 480px) {
        font-size: 15vw;
    }
    /* Landscape phone to portrait tablet */
    @media (min-width: 481px) and (max-width: 767px) {
        font-size:10vw;
    }
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1199px) {
       font-size:9vw;
    }
    /* Large desktop */
    @media (min-width: 1200px) {
        font-size: 5vw;
    }
  }
  h3 {
     /* Landscape phones and down */
    @media (max-width: 480px) {
        font-size: 8vw;
        margin-left:0.6em;
    }
    /* Landscape phone to portrait tablet */
    @media  (min-width: 481px) and (max-width: 767px) {
        font-size:5vw;
        margin-left:1em;
    }
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1199px) {
       font-size:4vw;
       margin-left:1.5em;
    }  
    /* Large desktop */
    @media (min-width: 1200px) {
       font-size: 3vw;
    }
  }
}
/* Logo */
.views__homeLogo {
  /* Landscape phones and down */
  @media (max-width: 480px) {
      width: 15em;
      margin: 3em 0 0em 0;
  }
  @media (min-width:481px) and (max-width: 1199px) {
      width: 15em;
      margin: 3em 0 0em 0;
  }
  /* Large desktop */
  @media (min-width: 1200px) {
      margin: 3em 0 3em 0;
  }
  transform: translateY(0);
  transition: all 1s ease-in-out;
  use {
    fill: #fff;
    opacity: 1;
    /* Landscape phones and down */
    @media (max-width: 480px) {
        transform: scale(2);
    }
    @media (min-width:481px) and (max-width: 1199px) {
        transform: scale(2);
    }
    /* Large desktop */
    @media (min-width: 1200px) {
        transform: scale(2.3);
    }
  }
  &.hidden {
    opacity: 0;
    transform: translateY(100px);
  }
}

/* links */
.views__homeLink {
  color              : #fff;
  z-index            : 1;
  margin-bottom      : 1em; 
  cursor             : pointer;
  font-family        : "FuturaBold", sans-serif;
  position           : relative;

  /* Landscape phones and down */
    @media (max-width: 480px) {
        font-size : 6vw;
    }
    /* Landscape phone to portrait tablet */
    @media  (min-width: 481px) and (max-width: 767px) {
        font-size : 4vw;
    }
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1199px) {
       font-size : 3vw;
    }

    /* Large desktop */
    @media (min-width: 1200px) {
        font-size : 2vw;
    }
  
  //underline
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out 0s;
  }
  //make underline appear on hover
  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }  
}