section.container {
  width: 100vw;
  height: 100vh;
  background-color: #0000FF;
  overflow: hidden;

  /*ARROWS*/

  .navArrow {
    position       : fixed;
    transform      : translateZ(0);
    z-index        : 1000;
    display        : flex;
    justify-content: center;
    align-content  : center;
  
    div {
      width           : 40px;
      height          : 40px;
      background-image: url(../images/arrow.svg);
    }
  
  }
  
  .navArrow:nth-child(odd) {
    width          : 100vw;
    height         : 50px;
    flex-direction : row;
    align-items    : center;
  }
  
  .navArrow:nth-child(even) {
    width         : 50px;
    flex-direction: column;
    height        : 100vh;
    align-items   : center;
  }
  .navArrow:nth-child(1) {
    background-color: #ffffff;
    div {
      transform: rotate(-90deg);
    }
  }
  .navArrow:nth-child(2) {
    background-color: red;
    margin-left: calc(100vw - 50px);
  }
  
  .navArrow:nth-child(3) {
    background-color: yellow;
    margin-top: calc(100vh - 50px);
    div {
      transform: rotate(90deg);
    }
  }

  .navArrow:nth-child(4) {
    /*background-color: #000000;*/
    div {
      transform: rotate(180deg);
    }
  }

  /*ARROWS END*/

  .container__views {
    width              : 310vw;
    height             : 200vh;
    background-color   : #00FF00;
    overflow           : hidden;
    transform          : translateX(0);
    transition-duration: 0.3s;
  }
  
  .viewsLine {
    height   : 100vh;
    font-size: 0;
  }
  
  .viewsLine1 {
    background-color: yellow;  
  }
  
  .viewsLine2 {
    background-color: orange;
  }

  .viewsLine1__view1 {
    background-color: #0000FF;
  }

  .viewsLine1__view2 {
    background-color: #FFFFFF;
  }

  .viewsLine1__view3 {
    background-color: #FF0000;
  }

  .viewsLine2__view1 {
    background-color: #FF0000;
  }

  .viewsLine2__view2 {
    background-color: #FFFFFF;
  }

  .viewsLine2__view3 {
    background-color: #0000FF;
  }


  .viewsLine1__view,
  .viewsLine2__view {
    width    : 100vw;
    font-size: 14px;
    height   : 100vh;
    display  : inline-block;
    border   : 1px solid black;
  }

}