@font-face {
  font-family: "FormataMC";
  src        : url(../../medias/fonts/Formata-MediumCondensed.otf);
}

@font-face {
  font-family: "OpenSansBold";
  src        : url(../../medias/fonts/OpenSans-bold.ttf);
}

@font-face {
  font-family: "FuturaBold";
  src        : url(../../medias/fonts/futuraBold.otf);
}

@font-face {
  font-family: "FuturaMedium";
  src        : url(../../medias/fonts/FuturaMedium);
}