@font-face {
  font-family: "FormataMC";
  src        : url(../fonts/Formata-MediumCondensed.otf);
}

@font-face {
  font-family: "OpenSansBold";
  src        : url(../fonts/OpenSans-bold.ttf);
}

@font-face {
  font-family: "FuturaBold";
  src        : url(../fonts/futuraBold.otf);
}

@font-face {
  font-family: "FuturaMedium";
  src        : url(../fonts/FuturaMedium);
}