@mixin viewsLine() {
  width         : 100vw;
  height        : 100vh;
  display       : inline-block;
  vertical-align: top;
}

@mixin arrowBackground() {
  fill: white;
  &:hover {
    fill: black;
  }
}

@mixin whatWillIDo() {
  background-image: url(../../medias/images/whatWillIDo_bg.jpg);
  background-size: cover;
}