.navArrows {
  position       : fixed;
  z-index        : 4;
  top            : 45vh;
}
.navArrows__arrow {
  font-size      : 5em;
  color          : #fff;
  opacity        : 0.1;
  transition     : opacity 1s ease-in-out;
  //animation  : flicker 5s ease-in infinite;
  //text-shadow    : 3px 3px 2px rgba(150, 150, 150, 1);
  &:nth-child(1) {
    transform: translateX(15px);
  }
  &:nth-child(2) {
    transform: translateX(calc(100vw - 80px));
  }
  &:hover {
    opacity        : 0.3;
  }
}

.hideArrow {
  display: none;
}

@keyframes flicker {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;

  }
  100% {
    opacity: 0.1;
  }
}