section.container {
  width           : 100vw;
  height          : 100vh;
  position        : fixed;
  overflow        : hidden;
  transform       : translateY(-15px);

  .container__views {
    width              : 999vw;
    overflow           : hidden;
    transform          : translateX(-200.3vw);
    transition-duration: 0.3s;

    .viewsLine {
      height        : 100vh;
      font-size     : 0;
      display       : inline-block;
      vertical-align: top;

    }

  }

  .view {
    @include viewsLine();
  }

  .hideImage {
    opacity: 0;
  }

  .showImage {
    opacity: 1;
  }

}