.menu-icon {
  background-size : cover;
  cursor          : pointer;
  position        : fixed;
  z-index         : 99999;
  margin-top      : 30px;
  margin-left     : calc(100vw - 55px);
}

.menu-icon-closed {
  background-image: url(../images/menu-closed.png);
  width           : 25px;
  height          : 19px;
}

.menu-icon-opened {
  background-image: url(../images/menu-opened.png);
  width           : 25px;
  height          : 25px;
}

.menu-closed {
  transform: translateX(90vw);
}

.menu-openeded {
  transform: translateX(0);
}

.menu {
  display            : flex;
  position           : fixed;
  z-index            : 9999;
  justify-content    : flex-start;
  align-content      : center;
  color              : #FFFFFF;
  width              : 90vw;
  height             : 100vh;
  margin-left        : 10vw;
  background-color   : #95370E;
  transition-duration: 0.3s;
  opacity            : 0.75;

  nav {
    font-family     : "FuturaBold", sans-serif;
    display         : flex;
    align-items     : center;
    margin-top      : 2vw;
    margin-left     : 2vw;
    position        : relative;

    ul li {
      font-size  : 2em;
      line-height: 9vh;
    }

  }
  
  .menu__logo {
    width            : 40vw;
    height           : 40vw;
    background       : url(../images/menu_bg.svg) no-repeat;
    background-size  : cover;
    bottom           : -20vw;
    margin-left      : 0;
    overflow         : hidden;
    position         : absolute;
    z-index          : -1;
  }
  
}