.player {

  width          : 50vw;
  height         : 50vw;
  display        : flex;
  flex-direction : column;
  justify-content: center;

  .player__line {
      display        : flex;
      flex-direction : row;
      justify-content: space-around;

      .sound {
        width          : 13vw;
        color          : #FFFFFF;
        font-family: "FuturaBold", sans-serif;
        display        : flex;
        justify-content: center;
        align-items    : center;
        height         : 13vw;
        border         : 1px solid #FFFFFF;
        border-radius  : 50%;
        
        &:hover {
          color: #000000;
          background-color: #FEBB34;
        }
        
      }

    }

}