.touristsViewsLine {

  .touristsViewsLine__view {
    @include viewsLine();
  }

  .touristsViewsLine__view1 {
    background-image: url(../../../../../medias/images/whatWillIDo_bg.jpg);
    background-size : cover;
  }

  .touristsViewsLine__view2 {
    background-image: url(../../../../medias/images/doIHaveSpirit_bg.jpg);
    background-size: cover;
  }

  .touristsViewsLine__view3 {
    background-image: url(../../../../medias/images/home_tourists_bg.jpg);
    background-size : cover;
    overflow: scroll;
  }

}
