.views__firewatch2ViewLine {
  background-image : url(../../../medias/images/Yosemite_Valley-Large.gif);
  background-size: cover;
  position: relative;
  width           : 100vw;
  height          : 100vh;
  display         : flex;
  flex-direction  : column;
  background-color: rgba(0, 0, 0, 0.2);
  align-items     : center;
  justify-content : center;
  
  &:before {
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
  }
}
.views__firewatch2-Question {
  z-index: 10;
  width: 30%;
  padding-left: 5em;
  margin-bottom: 2em;
  &:nth-child(1) {
    position:relative;
  }
  position: absolute;
  &.hidden {
    visibility: hidden;
    opacity:0;
  }
}

.views__firewatch2-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 1em;
    svg {
          width: 100%;
          height: 100%;
          /* fill: #000; */
          stroke: #fff;
    }
}

.views__firewatch2-text {
  color: #fff;
  h2 {
    font-family        : "FuturaBold", sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
  }
  p {
    font-family        : "FuturaMedium", sans-serif;
    font-size: 1.5em;
    line-height: 1em;
  }
}

.views__firewatch2-button {
  z-index: 10;
  font-family: "FuturaBold", sans-serif;
  margin-top: 3em;
  margin-left: 3em;
  width: 200px;
  height: 50px;
  border-radius: 2%;
  color: #fff;
  border: thin solid #fff;
  transition: background-color .3s ease-out;
  &:hover {
    cursor: pointer;
    color:#000;
    background-color: #febb34;
    border:#febb34;
  }
}