
.firewatcherCriterions {


  @include flexColumnCenter();

  .firewatcherCriterions__title {

    @include futuraBoldTitle();

    width           : 100vw;
    height          : 90vh;
    font-size       : 3vw;
    background-image: url(../../../../medias/images/doIHaveSpirit_bg.jpg);
    background-size : cover;
    display         : flex;
    align-items     : flex-end;
    justify-content : center;

    .firewatcherCriterions__title--text {
      padding: 3vh 0;
    }

  }

  .firewatcherCriterion {

    @include criterionCard();

    .firewatcherCriterion__top {

      display: flex;
      align-items: center;
      justify-content: center;

      .criterionImageCircle {
        @include criterionImageCircle();
      }


      .firewatcherCriterion__top--imageContainer {
        max-width       : 12vw;
        display         : flex;
        justify-content : center;

        @include criterionHoverEffect();

        use {

          fill     : #FEBB34;
          stroke   : #FEBB34;
          max-width: 15vw;
          height   : 30vw;

        }

      }

    }

    .firewatcherCriterion__bottom--text {

      @include criterionCardBottomText();

    }


  }

}